body{
    background-color: gray;
}
#mainTitle{
    font-size: 80px;
    display: block;
    margin: auto;
    text-align: center;
}
#gameCanvas{
    margin: auto;
    display: block;
    background-color: white;
    margin-top: 1%;
}